.title-1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  font-weight: 700;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
  .title-1 {
    /* border: 2px solid #ffffff; */
    font-size: 2rem;
    width: 99vw;
    margin-top: 0px !important;
  }
}
